html {
	font-size: 20px;
	line-height: 1.6;
	font-family: Roboto, sans-serif;
}

.wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: aqua;
	margin: 10px auto;
	box-shadow: 14px 14px purple;
	width: 600px;
}
.app-heading {
background-color: white;
text-align:center;
padding:0 15px;
margin-top:20px
}
.small{
	display:block;
	font-size:16px;
}
#search {
	width: 80%;
	padding: 12px 20px;
  font-size:20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.giphy-search {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

.content {
	min-width: 400px;
	width: 400px;
	padding: 16px;
}

img {
	width: 100%;
}
